<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <style>

    </style>
  </head>

  <body>
  <% text_documents.each do |doc| %>
    <%= doc.content %>
  <% end %>
  </body>

</html>